.navbar__wrapper {
  .navbar__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    .navbar__input {
      input {
        padding: 8px 28px;
        width: 330px;
        border-radius: 4px;
        border: 1px solid rgb(121, 121, 245);
        &:focus {
          box-shadow: 1px 1px 3px 1px rgb(114, 114, 231);
        }
      }
    }
    .navbar__links {
      display: flex;
      align-items: center;
      gap: 30px;
      font-size: 18px;
      a {
        color: black;
      }
      .wish {
        position: relative;
        span {
          position: absolute;
          padding: 2px 4px;
          font-size: 12px;
          background-color: red;
          color: #fff;
          border-radius: 50%;
          top: -10px;
          right: -5px;
        }
      }
      a.active {
        color: red;
      }
    }
  }
}
