.products__wrapper {
  margin-top: 160px;
  .products__cards {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    .products__card {
      position: relative;
      width: 330px;
      // height: 450px;
      background-color: aliceblue;
      border-radius: 12px;
      padding: 40px 20px;
      .btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      h2 {
        color: rgb(74, 74, 189);
      }
      h3 {
        color: red;
        margin-top: 10px;
      }
      button {
        margin-top: 10px;
        padding: 6px 12px;
        background-color: red;
        border: none;
        border-radius: 4px;
        color: #fff;
      }
    }
    .card__img {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 16px;
      button {
        position: absolute;
        top: 10px;
        left: 10px;
        background: transparent;
        color: black;
        button {
          padding: 4px;
        }
        svg {
          font-size: 20px;
        }
      }
    }
    img {
      width: 270px;
      border-radius: 12px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }
}
